.header {
    display: flex;
    justify-content: space-around;

    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.285);
    padding: 20px;
}

.navbar {
    display: flex;
    justify-content: center;
    gap: 2em;

    font-size: 20px;
}

.linkContainer {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.navLinks {
    text-decoration: none;
}

.counter {
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #0000001b;

    width: 30px;
    height: 30px;

    border-radius: 15px;
}

.hero {
    margin: 0;
    font-size: 40px;
}

@media (min-width: 480px) and (max-width: 1024px) {
  
    /* Tablest */
    .header {
        flex-direction: column;

        padding: 10px;
    }
    
}

  @media (min-width: 320px) and (max-width: 480px) {
  
    /* Smartphones */
    .header {
        flex-direction: column;

        padding: 10px 3px;
    }

    .navbar {
        flex-direction: column;
        gap: 10px;
    }
    
}