.header {
    display: flex;
    justify-content: space-around;

    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.285);
    padding: 20px;

    z-index: 10;

    font-family: 'raleway';

    background-color: rgb(18, 20, 46);
    color: rgb(255, 255, 255);
}

.navbar {
    display: flex;
    justify-content: center;
    gap: 2em;

    font-size: 20px;
}

.linkContainer {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;

    position: relative;
}

.navLinks {
    text-decoration: none;
}

.navLinks:visited {
    color: white;
}

.counter {
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #7d5630;
    color: white;
    font-weight: bold;

    width: 30px;
    height: 30px;

    border-radius: 15px;

    font-size: 20px;

    position: absolute;
    bottom: 35px;
    left: 30px;
    z-index: 10;
}

.counterContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero {
    margin: 0;
    font-size: 50px;
    font-family: 'alex-brush','Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-shadow: 2px 2px 5px #ddab79;
}

.cartIcon {
    width: 35px;
    height: 35px;
    filter: invert(100%);
}

@media (min-width: 480px) and (max-width: 1024px) {
  
    /* Tablest */
    .header {
        flex-direction: column;

        padding: 10px;
    }

    .counter {
        bottom: 20px;
        left: 30px;
    }
    
}

  @media (min-width: 320px) and (max-width: 480px) {
  
    /* Smartphones */
    .header {
        flex-direction: column;

        padding: 10px 3px;
    }

    .navbar {
        flex-direction: column;
        gap: 10px;
    }
    
    .counter {
        position: relative;
        bottom: 0;
        left: 0;
    }
}

@media (min-aspect-ratio: 2/1) {
    .header {
        justify-content: center;
        gap: 20vw;
    }
}