@font-face {
    font-family: "alex-brush";
    src:    url("./assets/fonts/alexbrush-regular-webfont.woff2") format("woff2"),
            url("./assets/fonts/alexbrush-regular-webfont.woff") format("woff");   
}

@font-face {
    font-family: "raleway";
    src:    url("./assets/fonts/raleway-regular-webfont.woff2") format("woff2"),
            url("./assets/fonts/raleway-regular-webfont.woff") format("woff");
    font-weight: normal;
}

@font-face {
    font-family: "raleway";
    src:    url("./assets/fonts/raleway-bold-webfont.woff2") format("woff2"),
            url("./assets/fonts/raleway-bold-webfont.woff") format("woff");
    font-weight: bold;  
}

* {
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    margin: 0;
}

#root {
    min-height: 100vh;
}

@media (min-aspect-ratio: 2/1) {
    body {
        display: flex;
        justify-content: center;
    }

    #root {
        width: 100vw;
        display: flex;
        flex-direction: column;
    }
}